#edit-q-index {
  font-size: small;
  display: inline-block;
}

.show-username {
  font-size: small;
  font-style: italic;
  display: inline-block;
}
.answers{
  margin-left: 1em;
}

.comments{
  margin-left: 2em;
}

a {
  text-decoration: none;
}