a {
  text-decoration: none;
}

.best-answer-form{
  display: inline-block;
  border: none;
}

.best-answer-form fieldset{
  border: none;
}

.chosen-answer{
  display: inline-block;
  border: none;
  font-size: medium;
}

.font-small {
  font-size: small;
}
.show-username {
  font-size: small;
  font-style: italic;
  display: inline-block;
}
.answers{
  margin-left: 1em;
}

.comments{
  margin-left: 2em;
}

#edit-q-index {
  font-size: small;
  display: inline-block;
}
