<div class="Question">
  <h1><%=@question.body%></h1>
  <p>Posted by:<%=@question.user.name%></p>
  <p>Posted on: <%=std_date_format(@question.created_at) %></p>
</div>

<div>
  <h2>Comments:</h2>
  <ul>
  <%@question.comments.each do |comment|%>
    <li><%=comment.body%></li>
  <%end%>
  </ul>
</div>
