<li>
  <div class="comments">
     <%=comment.body%>
     <div class="show-username"> - <%=comment.user.name%>, <%=std_date_format(comment.created_at)%></div>
     <p>TODO: add votes</p>

  </div>
</li>
